<?xml version="1.0" encoding="UTF-8"?>
<launch>
 <include file="$(find carla_ros_bridge)/launch/carla_ros_bridge.launch"/>
 <include file="$(find carla_spawn_objects)/launch/carla_spawn_objects_hero3.launch"/>
 <include file="$(find carla_spawn_objects)/launch/carla_spawn_objects_hero4.launch"/>
  <include file="$(find clone_follower)/launch/pub_to_leading_clone_follower.launch"/>
 <node name="ddpg_only_Napoli" pkg="clone_follower" type="ddpg_only_Napoli.py" output="screen">
 </node>
</launch>
